.App {
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 65px;
  margin-right: 5px;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2vh 0 1vh;

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: calc(16px + 1rem);
  }
  h2 {
    font-size: 1rem;
    color: #09d3ac;
  }
}

.App-link {
  color: #09d3ac;
}
